.side_nav_main{
    height: calc(100% - 64px);
    width: 230px;
    position: fixed;
    background: var(--secondry-prime-color);
}
.side_inner{
    padding: 16px 8px 8px;
}
ul{
    padding-left: 0;
}
ul li{
    padding: 10px 17px;
    font-size: 19px;
    background: var(--white-color);
    color: var(--black-color);
    border-radius: 6px;
    margin-bottom: 8px;
    cursor: pointer;
    
}
.active{
    background: var(--primary-light) !important;
}

ul li:hover{
    background: var(--primary-light);
}